.designBg {
  background-color: transparent;
  background-image: linear-gradient(
      30deg,
      #7cdaff0d 12%,
      transparent 12.5%,
      transparent 87%,
      #7cdaff0d 87.5%,
      #7cdaff0d
    ),
    linear-gradient(
      150deg,
      #7cdaff0d 12%,
      transparent 12.5%,
      transparent 87%,
      #7cdaff0d 87.5%,
      #7cdaff0d
    ),
    linear-gradient(
      30deg,
      #7cdaff0d 12%,
      transparent 12.5%,
      transparent 87%,
      #7cdaff0d 87.5%,
      #7cdaff0d
    ),
    linear-gradient(
      150deg,
      #7cdaff0d 12%,
      transparent 12.5%,
      transparent 87%,
      #7cdaff0d 87.5%,
      #7cdaff0d
    ),
    linear-gradient(
      60deg,
      #7cdaff08 25%,
      transparent 25.5%,
      transparent 75%,
      #7cdaff08 75%,
      #7cdaff08
    ),
    linear-gradient(
      60deg,
      #7cdaff08 25%,
      transparent 25.5%,
      transparent 75%,
      #7cdaff08 75%,
      #7cdaff08
    );
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-size: 80px 140px;
  background-attachment: fixed;
}
